#drag {
    height: 200px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: blueviolet;
    cursor: pointer;
    user-select: none;
    position: fixed;
}